@import "../../styles/main.scss";

.loader__container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    p{

        font-size: 2.5rem;
        color: blue;
    }

    .background{
        display: flex;
        .colur{
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
        }
        .colur:first-child{
            z-index: 1;
            width: 110vw;
            background: #5e48db;
            transform: translateX(-75%);
        }
        .colur:nth-child(2){
            z-index: 2;
            background: #2dc3f5;
            transform: translateX(25%);
        }
        .colur:nth-child(3){
            z-index: 3;
            background: #f8ac12;
            transform: translateX(50%);
        }
        .colur:nth-child(4){
            z-index: 4;
            background: #04ad68;
            transform: translateX(75%);
        }
    }
}