$red: #1f1f;
$base: #5E48DB;
$base-color: #6d6c75;


// slides to show 
$slides-to-Show-desktop: 4.5;
$slides-to-Show-md: 3;
$slides-to-Show-mobile: 1.8;

$slides-to-Show-desktop__cel: 3.3;
$slides-to-Show-md__cel: 2.5;
$slides-to-Show-mobile__cel: 1.8;