@import "../../styles/main.scss";

.faqs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: max(30px,3rem);
    gap: max(30px,3rem);
    padding-inline: max(40px, 13rem);
    width: 100%;
    max-width: 1920px;
    margin-inline: auto;
    padding-bottom: 10rem;
    

    @include md-screen{
        grid-template-columns: 1fr;
    }
    &__left{
        width: fit-content;

        &__header{
            font-weight: 700;
            line-height: 114.6%;
            letter-spacing: -.042em;
            height: fit-content;
            color: #2e2e2e;
            position: sticky;
            max-width: 500px;
            top: 100rem;
            font-size: max(30px,6.4rem);
        }
    }

    &__right{
        .faqs__card{
            margin-bottom: max(10px,1.5rem);
            background: #fafafa;
            border-radius: max(2.4rem,10px);
            padding-inline: max(3.2rem,10px);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transition: all .5s ease-in-out;

            h1{
                font-weight: 500;
                line-height: 1.6;
                letter-spacing: -.006em;
                color: #0a0a0a;
                text-align: left;
                font-size: max(18px,2rem);

            }

            p{
                text-align: left;
                font-weight: 400;
                line-height: 1.64;
                letter-spacing: -.006em;
                color: #6d6c75;
                width: 100%;
                margin-top: .5787037037vw;
                font-size: max(16px,1.8rem);
            }
        }
    }
}

.footer{
    display: flex;
    padding-block: 11.6383169203vh;
    flex-direction: column;
    h2{
        text-align: center;
        margin-bottom: max(20px,4rem);
        font-weight: 700;
        line-height: 114.6%;
        letter-spacing: -.042em;
        color: #2e2e2e;
        font-size: max(30px,6.4rem);
        
        span{
            color: #f8ac12;
        }
    }

    .btn{
        margin-inline: auto;
        width: max(21rem,140px);
        height: max(8.5rem,50px);
        color: #fff;
        background: #5e48db;
        border-radius: max(2.4rem,16px);
        // transition: all .5s var(--ease-out-quart);
        font-size: max(18px,2.4rem);
        height: max(8.5rem,50px);
        align-self: center;
    }
}